[submodule "projects/libarchive3-sys"]
	path = projects/libarchive3-sys
	url = ../libarchive3-sys
[submodule "projects/rust-brotli"]
	path = projects/rust-brotli
	url = ../rust-brotli
[submodule "projects/alacritty"]
	path = projects/alacritty
	url = https://github.com/jwilm/alacritty
	branch = scrollback
[submodule "projects/ripgrep"]
	path = projects/ripgrep
	url = https://github.com/BurntSushi/ripgrep.git
